{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PIBIT-Monitoramento de Ativos</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <meta http-equiv="refresh" content="0.5">

</head>
<body>
    <!-- <div id="plot1">
        {{plot | safe}}
    </div> -->

    <header id="header">

        <section id="source-bar">

            <input id="input-source-bar" type="text" placeholder="Procure por....">

            <button id="buttom-source-bar">

                <img id="lupa-source-box" src="{% static 'img/lupa.png' %}" >

            </button>

        </section>

        <img id="notificacao-box" src="{% static 'img/notificacao.png' %}">

        <img id="message-box" src="{% static 'img/caixa-de-mensagem.png' %}">

        <div class="divsion-line-header"></div>

        <span id="usuario">

            <p id="text-user">Usuário</p>

            <img id='image-user' src="{% static 'img/profile.png' %}">

        </span>

    </header>

    <section id="barra-menu">

        <div id="menu-lateral-line"></div>

        <p id="title-menu">
            Battery Monitoring
        </p>

        <div class="menu-horizontal-line"></div>

        <section class="margin" >

            <img  class="img" src="{% static 'img/analise.png' %}">
            <a id="link-analise" class="links ascender"href="">Análise</a>

        </section>

        <div class="menu-horizontal-line"></div>

        <section class="margin" class="ascender">

            <img  class="img" src="{% static 'img/tabela.png' %}">
            <a  class="links ascender" href="">Tabela de dados</a>

        </section>

        <div class="menu-horizontal-line"></div>

        <section class="margin" class="ascender">

            <img  class="img" src="{% static 'img/evento.png' %}">
            <a  class="links ascender" href="">Eventos</a>

        </section>

        <div class="menu-horizontal-line"></div>

        <section class="margin" class="ascender">

            <img  class="img" src="{% static 'img/help.png' %}">
            <a  class="links ascender" href="">Ajuda</a>

        </section>

        <div class="menu-horizontal-line"></div>
        
    </section>

    <section id="">

    </section>

</body>
</html>